body{
    background-image: url("images/DizajnBackground.jpg");
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 10% 0;
}

.container h1{
    padding: 5% 0;
    font-size: 4em;
    color: white;
    text-align: center;
}

.photo-gallery{
    display:flex;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-gallery img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width: 400px){
    .container h1{
        font-size: 2em;
    }
}

@media(max-width:768px){
    .photo-gallery{
        flex-direction: column;
    }
}

#popup-container {
    display: none;
    position: fixed;
    top: 6%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
  }

  #popup-content {
    max-width: 100%;
    max-height: 100%;
  }

  #popup-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }