.body{
    background-image: url("images/indexSecond.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.topbackground{
    background-image: url("images/indexFirst.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}


section{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

section .title{
    position: absolute;
    bottom: 22%;
    left: auto;
    color: #FFFFFF;
    font-size: 2em;
}

.specs td{
    color: #ffffffa1;

}

.info{
    position: absolute;
    bottom: 1%;
    width: 60vw;
    height: 20%;
    display: grid;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.specs td p{
    font-size: 1em;
}

.values td p{
    color:#FFFFFF;
    font-size: 2em;
}



@media screen and (max-width: 400px){
    .specs td p{
        font-size: 1em;
    }
    
    .info .values p{
        font-size: 20px;
    }

    .info{
        width: 90vw;
    }
}