.body{
    margin: 0;
    background-image: url("images/PerformanseBackground.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section{
    width: 85%;
    margin: 0 auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.93);
    position: relative;
    margin-bottom: 3%;
}

.background{
    min-height: 100vh;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
    min-height: 50vh;
}

.video iframe{
    position: absolute;
    width: 70%;
    height: 50%;
}

@media screen and (max-width: 400px){
    
    section{
        padding: 20px;
        width: 70%;
    }

    .icon{
        width: 25px;
        height: auto;
    }

    .specs2{
        font-size: 10px;
    }

    .values2{
        font-size: 13px;
    }

    .image img{
        width: 80%;
        height: auto;
    }

    .video{
        padding-top: 5%;
        padding-bottom: 1%;

    }

    .video iframe{
        position: absolute;
        width: 90%;
        height: 50%;
    }

}