.body{
    margin: 0;
    background-image: url("images/SpecifikacijeBackground.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section{
    width: 85%;
    margin: 0 auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.93);
    position: relative;
    margin-bottom: 3%;
}

article{
    text-align: center;
    padding: 2%;
}

.background{
    min-height: 100vh;
}

.top img{
    width: 40%;
    height: auto;
}

.info-button {
    padding: 25px 60px 25px 60px;
    background-color: #00528E;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.info-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #00528E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.info-window table td:first-child {
    padding-right: 50px;
}

.info-window table{
    padding-bottom: 10px;
}

.button img{
    width: 50px;
    height: auto;
}

.image-slider{
    min-height: 30em;
    height: 50vh;
    width: auto;
    position: relative;
    background-image: url("images/specifikacije1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.image-slider *{
    box-sizing: border-box;
}

.arrow-left img, .arrow-right img{
    position: absolute;
    padding: 0.5% 0 0.5% 0;
    top: 40%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-left img:hover, .arrow-right img:hover{
    background: rgba(0, 82, 142, 0.7);
}

.arrow-left img{
    left: 1em;
}

.arrow-right img{
    right: 1em;
}

.image-fade{
    animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade{
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 400px){

    .top img{
        width: 80%;
        height: auto;
    }
    
    .icon{
        width: 25px;
        height: auto;
    }

    .specs2{
        font-size: 10px;
    }

    .values2{
        font-size: 13px;
    }

    .image img{
        width: 80%;
        height: auto;
    }

    .image-slider{
        min-height: 20vh;
        height: 25vh;
    }

    .arrow-left img, .arrow-right img{
        padding: 0.5% 0 0.5% 0;
        width: 1.5em;
        height: 1.5em;
    }

    section{
        padding: 20px;
        width: 70%;
    }

    .info-button {
        padding: 15px 50px 15px 50px;
        font-size: 0.8em;
    }

    .info-window{
        padding: 30px;
        width: 80%;
    }

    .info-window table{
        padding-bottom: 20px;
    }

    .info-window table td:first-child {
        padding-right: 10px;
    }

}