@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular);
*{
    font-family: "BMWTypeNext Pro Regular",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}


.image img{
    width: 60%;
    height: auto;
}

.layout{
    display: grid;
    align-items: center;
    text-align: center;
}

.layout tr{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon{
    width: 10%;
    height: auto;
}
  

.specs2{
    font-size: 0.8em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.658);
}

.values2{
    font-size: 1.5em;
    font-weight: 700;
    color: black;
}

footer{
    background-color: transparent;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.social img{
    height: 30px;
    width: auto;
    display: inline-block;
    padding: 0 10px;
}

.social .big img{
    height: 50px;
    width: auto;
}

.text{
    opacity: 0;
    transition: all 2s;
}
  
.show{
    opacity: 1;
}

.navbar {
    z-index: 888;
    position: fixed;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1%;
}

.navbar a img{
    width: 50px;
    height: auto;
    float: left;
}

.navbar li a{
    font-size: 0.9em;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

.navigation{
    list-style: none;
}

.navigation li{
    display: inline-block;
    padding: 0 50px;
}

.navigation li a{
    transition: all 0.3s ease 0s;
}

.navigation li a:hover{
    color: #00528E
}

.navigation li .clicked a{
    color: #00528E;
}


.logoo img{
    width: 60px;
    height: auto;
}
  
.bgColor{
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    color: white;
}

.left-info{
    text-align: left;
}

.right-info{
    text-align: right;
}

#menu-bar{
    display: none;
}
header label{
    font-size: 0.8em;
    font-weight: 600;
    color: #FFFFFF;
    display: none;
}

@media screen and (max-width: 400px){
    
    .navigation li{
        display: inline-block;
        padding: 0 10px;
    }

    .navbar li a{
        font-size: 0.8em;
        font-weight: 500;

    }

    
}




